bin/
*.retry
*#
\#*
*~
~*
.idea/
flight-school/
manifests/ci.cd/drone/drone
manifests/ci.cd/flow.ci/docker/
manifests/helm/monocular
manifests/helm/kubeapps
manifests/qycloud/debug/
manifests/debug/

