# PS1='\[\033[32m\]\u@\h \[\033[35m\] \[\033[33m\]\w\[\033[36m\]\[\033[0m\]\n$ '
PS1='\[\e]0;\w\a\]\[\e[1;32m\]\u@\h \[\e[34m\]\w\[\e[0m\]\n\$ '

alias wa='watch '
alias br='sudo brctl'
alias et='emacsclient -t'
alias ec='emacsclient -c&'
alias ed='emacs --daemon'
alias es='sudo emacs -nw -q'
alias em='emacs -nw'
alias apt='sudo apt-get'
alias apc='sudo apt-cache'
alias dc='sudo docker-compose'
alias dk='sudo docker'
alias dki='sudo docker images'
alias dks='sudo docker ps'
alias dksa='sudo docker ps -a'
alias dkl='sudo docker login dockerhub.aysaas.com -u'
alias dkv='sudo docker volume'

# 杀死所有正在运行的容器.
alias dkillall='sudo docker kill $(sudo docker ps -a -q)'

# 删除所有已经停止的容器.
alias dkrmall='sudo docker rm $(sudo docker ps -q -f status=exited)'

# 删除所有未打标签的镜像.
alias dkrmiall='sudo docker rmi $(sudo docker images -q -f dangling=true)'

# 删除所有已经停止的容器和未打标签的镜像.
alias dkcleanall='dkrmall || true && dkrmiall || true'

alias dkprune='sudo docker container prune --force'

alias kl='kubectl'
alias kk='kubectl -n kube-system'
alias kla='kubectl --all-namespaces'

alias kg='kubectl get'
alias kkg='kubectl get -n kube-system'
alias kga='kubectl get --all-namespaces'

alias kgw='kubectl get -o wide'
alias kkgw='kubectl get -n kube-system -o wide'
alias kgaw='kubectl get --all-namespaces -o wide'

alias kgn='kubectl get no --show-labels'

alias ks='kubectl describe'
alias kks='kubectl describe -n kube-system'

alias kc='kubectl create'

alias kd='kubectl delete'
alias kdf='kubectl delete --grace-period=0 --force'
alias kkd='kubectl delete -n kube-system'
alias kkdf='kubectl delete -n kube-system --grace-period=0 --force'

alias ka='kubectl apply'

alias sc='sudo systemctl'
alias scr='sudo systemctl daemon-reload'
alias scs='sudo systemctl status'
alias scu='sudo systemctl restart'
alias scd='sudo systemctl stop'

alias pp='sudo chown 1000:1000 -R .'
alias px='sudo chmod +x'
